{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg sticky-top" id="navbar">
	<div class="container-simple">
		<a href="http://127.0.0.1:5000/" class="navbar-brand"><img src="https://image.flaticon.com/icons/svg/1890/1890122.svg" id="logo"></a>
	</div>

	<ul class="nav navbar" id="navbar-wrapper">

		<li class="navbar-item">
			<a class="nav-link" href="#main-jumbotron">Home</a>
		</li>

		<li class="navbar-item">
			<a class="nav-link" href="#main-jumbotron-one">About Us</a>
		</li>

		<li class="navbar-item">
			<a class="nav-link" href="#card-container">Our Process</a>
		</li>

		<li class="navbar-item">
			<a class="nav-link" href="#main-jumbotron-two">Results</a>
		</li>
	</ul>
	
</nav>

<div class="jumbotron d-flex align-items-center justify-content-center" id="main-jumbotron">
	<div class="container container-fluid">
		<h1 id="main-title">Fuel for Thought.</h1>
		<h4 id="main-title-sub">
		Viam sumi mo id erit. Objectioni mo de necessario crediderim. Imo terra vox alios aut lor quasi. Vim quaero aut videri pendam plures duo.
		</h4>	
		<p style="text-align:center;"><button onclick="makeFile()" class="btn btn-primary" id="main-button" type="button" data-toggle="modal" data-target="#login-modal">Join Now</button></p>
	</div>

	<!-- <script src="{{ url_for('static', filename='hedera/bundle.js')}}"></script> -->
</div>


<div class="jumbotron d-flex align-items-center" id="main-jumbotron-one">

	<div class="container-fluid">
		<div class="row w-100">

			<div class="col">
			<p style="text-align: center;">
				<img src="https://cdn.dribbble.com/users/2145559/screenshots/9093737/media/d5b69371723c69c421d0fcbe46e71709.jpg" class="main-photos">
			</p>
			</div>

			<div class="col text">

				<div class="col">
				<div class="card text">

					<div class="card-header text">
						<h1 class="sub-display">Finibus Bonorum et Malorum</h1>
					</div>

					<div class="card-body text">
						<p class="display-text">
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container-fluid" id="card-container">
<div class="card-deck" id="main-card-deck">
	<div class="card presentation">
		<div class="card-header"></div>
		<div class="card-body"><h1 style="text-align:center;">Filler</h1></div>
		<div class="card-footer"></div>
	</div>
		<div class="card presentation">
		<div class="card-header"></div>
		<div class="card-body"><h1 style="text-align:center;">Filler</h1></div>
		<div class="card-footer"></div>
	</div>
		<div class="card presentation">
		<div class="card-header"></div>
		<div class="card-body"><h1 style="text-align:center;">Filler</h1></div>
		<div class="card-footer"></div>
</div>
</div>
</div>

<div class="jumbotron d-flex align-items-center" id="main-jumbotron-two">

	<div class="container-fluid">
		<div class="row w-100">

			<div class="col text">

				<div class="col">
				<div class="card text">

					<div class="card-header text">
						<h1 class="sub-display">Finibus Bonorum et Malorum</h1>
					</div>

					<div class="card-body text">
						<p class="display-text">
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
						</p>
					</div>

				</div>
			</div>
		</div>

		<div class="col">
			<p style="text-align: center;">
				<img src="https://cdn.dribbble.com/users/2145559/screenshots/9076373/media/889ddfe0b2189e7c6efed408b0371637.jpg" class="main-photos">
			</p>
		</div>

	</div>
</div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row title">
            <div class="col">
                <h1 id="login-title">User Login</h1>
            </div>
        </div>
        <form action="/login" method="POST">
        <div class="row body">
            <div class="col">
                    <div class="form-group">
                        <input name="email" type="text" class="form-control" id="file_input_username" placeholder="Enter Your Email ID">
                    </div>
                    <div class="form-group">
                    	<input name="pw" type="text" class="form-control" id="file_input_password" placeholder="Password">
                    </div>
            </div>
        </div>
        <div class="row" id="button-row">
        	<div class="col">
        		<p style="text-align: right;"><button value="login" name="action" type="submit" class="btn btn-secondary" id="login_btn">Sign In</button></p>
        	</div>
        	<div class="col">
        		<p style="text-align: left;"><button value="signup" name="action" class="btn btn-secondary" id="signup_btn">Sign Up</button></p>
        	</div>
        </div>
    	</form>
    </div>
    <div class="modal-footer">

    </div>
   </div>
</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}

