{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg sticky-top" id="navbar">
	<div class="container-simple">
		<a href="http://127.0.0.1:5000/" class="navbar-brand"><img src="https://image.flaticon.com/icons/svg/1890/1890122.svg" id="logo"></a>
	</div>

	<ul class="nav navbar" id="navbar-wrapper">

		<li class="navbar-item">
			<a class="nav-link" href="#main-jumbotron">Home</a>
		</li>

		<li class="navbar-item">
			<a class="nav-link" href="#main-jumbotron-one">About Us</a>
		</li>

		<li class="navbar-item">
			<a class="nav-link" href="#card-container">Our Process</a>
		</li>

		<li class="navbar-item">
			<a class="nav-link" href="#main-jumbotron-two">Results</a>
		</li>
	</ul>
	
</nav>

<div class="jumbotron d-flex align-items-center justify-content-center" id="main-jumbotron">
	<div class="container container-fluid">
		<h1 id="main-title">Fuel for Thought</h1>
		<h4 id="main-title-sub">
		Source the best services for your job from the best available personnel.
		</h4>	
		<p style="text-align:center;"><button onclick="makeFile()" class="btn btn-primary" id="main-button" type="button" data-toggle="modal" data-target="#login-modal">Join Now</button></p>
	</div>

	<!-- <script src="{{ url_for('static', filename='hedera/bundle.js')}}"></script> -->
</div>


<div class="jumbotron d-flex align-items-center" id="main-jumbotron-one">

	<div class="container-fluid">
		<div class="row w-100">

			<div class="col">
			<p style="text-align: center;">
				<img src="https://cdn.dribbble.com/users/2145559/screenshots/9093737/media/d5b69371723c69c421d0fcbe46e71709.jpg" class="main-photos">
			</p>
			</div>

			<div class="col text">

				<div class="col">
				<div class="card text">

					<div class="card-header text">
						<h1 class="sub-display">Employers: Predictable deliverables in an unpredictable market</h1>
					</div>

					<div class="card-body text">
						<p class="display-text">
						In the past, utilizing different service providers was a gamble. What kind of service would you really receive? How reliable and qualified were contracted employees actually?
						No longer will you have to worry about the quality of your oilfield service. Our proprietary software places you in the driver seat to pick the right team for your specific situation. By providing you with comprehensive information like skill percentiles, safety qualifications, and psychological profiles you can assess service providers and their employees with confidence. This will allow you to drive greater profits, identify the best talent,  and more accurately organize logistics based on past performance history.
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="jumbotron d-flex align-items-center" id="main-jumbotron-two">

	<div class="container-fluid">
		<div class="row w-100">

			<div class="col text">

				<div class="col">
				<div class="card text">

					<div class="card-header text">
						<h1 class="sub-display">Service Providers: Create the most synergistic team for the job</h1>
					</div>

					<div class="card-body text">
						<p class="display-text">
						Slot employees into your existing team based on skill and chemistry or hire entire teams with demonstrable chemistry and superior skill. Access a multitude of energy contracts, opportunities, and job postings. 
						Sign up with our Service Provider portal to immediately access a pool of talented labor and an abundance of opportunity. After signing up, you will be able to view available talent, including data on their skill rankings, personality, and desired employer criteria.
						</p>
					</div>

				</div>
			</div>
		</div>

		<div class="col">
			<p style="text-align: center;">
				<img src="https://cdn.dribbble.com/users/2145559/screenshots/9076373/media/889ddfe0b2189e7c6efed408b0371637.jpg" class="main-photos">
			</p>
		</div>

	</div>
</div>
</div>

<div class="jumbotron d-flex align-items-center" id="main-jumbotron-one">

	<div class="container-fluid">
		<div class="row w-100">

			<div class="col">
			<p style="text-align: center;">
				<img src="https://cdn.dribbble.com/users/2145559/screenshots/9114234/media/f6d2ca37726b4700099d6a26a19d73cf.jpg" class="main-photos">
			</p>
			</div>

			<div class="col text">

				<div class="col">
				<div class="card text">

					<div class="card-header text">
						<h1 class="sub-display">Employees: We match you with leading service providers while simultaneously enhancing your expertise</h1>
					</div>

					<div class="card-body text">
							<p>1. Simply create an account using our Employee Portal</p>
							<p>2. Take our proprietary skill and personality assessment to showcase your expertise</p>
							<p>3. Companies will come TO YOU and provide opportunities based on the results of your assessment.</p>
							<p>4. Continue to learn new skills and demonstrate your proficiency to increase your chances of getting back into the field faster</p>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row title">
            <div class="col">
                <h1 id="login-title">User Login</h1>
            </div>
        </div>
        <form action="/login" method="POST">
        <div class="row body">
            <div class="col">
                    <div class="form-group">
                        <input name="email" type="text" class="form-control" id="file_input_username" placeholder="Enter Your Email ID">
                    </div>
                    <div class="form-group">
                    	<input name="pw" type="text" class="form-control" id="file_input_password" placeholder="Password">
                    </div>
            </div>
        </div>
        <div class="row" id="button-row">
        	<div class="col">
        		<p style="text-align: right;"><button value="login" name="action" type="submit" class="btn btn-secondary" id="login_btn">Sign In</button></p>
        	</div>
        	<div class="col">
        		<p style="text-align: left;"><button value="signup" name="action" class="btn btn-secondary" id="signup_btn">Sign Up</button></p>
        	</div>
        </div>
    	</form>
    </div>
    <div class="modal-footer">
    </div>
   </div>
</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}

